.scene {
  margin-top: 0.5rem;
  padding-block: 0.5rem;
  border-bottom: 1px dashed var(--color-text);

  /* this scroll margin value exists to accommodate the fixed (sticky) header;
   * when the user navigates to a scene via the (story) overview we need to take
   * into account the height of that header.
   */
  scroll-margin-top: 120px;
}

.sceneMedia {
  display: flex;
  flex-direction: column;
}

.sceneContent {
  display: grid;
  grid-template-columns: 280px 1fr;
}
