.header {
  background-color: var(--color-bg);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 2;
}

.contentMain {
  display: flex;
  flex-direction: column;
}

.contentMain div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    color: var(--color-text);
  }
}

.actionBar {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  a,
  a:visited {
    color: var(--color-text);
    font-size: 1.5rem;
  }
  a:hover {
    text-decoration: underline;
  }
}

.toolbar {
  display: inline-block;
}

.toolbar button {
  min-width: 50px;
  min-height: 2.5rem;
  border: 0;
  padding-left: 13px;
}

.toolbar button:first-child {
  border-top-left-radius: var(--border-radius-medium);
  border-bottom-left-radius: var(--border-radius-medium);
}

.toolbar button:last-child {
  border-top-right-radius: var(--border-radius-medium);
  border-bottom-right-radius: var(--border-radius-medium);
}
